html,
body,
header,
footer,
main,
nav,
ul,
#main-disclamer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 100px; 
}

body {
  background-color: #292929;
}

@font-face {
    font-family: tan-aegean;
    src: url(../fonts/TAN\ -\ AEGEAN\ Regular.ttf);
}

@font-face {
    font-family: hero-regular;
    src: url(../fonts/HeroLight-Regular.otf);
}

@font-face {
    font-family: hero-bold;
    src: url(../fonts/HeroLight-Bold.otf);
}

h1, h2 {
  font-family: tan-aegean;
}

h3 {
  font-family: hero-bold;
}

h4, p, ul, a {
  font-family: hero-regular;
}

a {
  text-decoration: none;
}
