h1 {
  color: #dfaabe;
  font-size: 24px;
  margin-top: 50px;
  padding-right: 35px;
  padding-bottom: 0px;
  text-align: center;

}

p {
    color: #d9d9d9;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.tema2 {
    margin-top: 50px;
}

.tema3 {
    margin-top: 50px;
}

.tema4 {
    margin-top: 50px;
}

.tema5 {
    margin-top: 50px;
}

.tema6 {
    margin-top: 50px;
}

h2 {
    background-color: #d9d9d9;
    color: #292929;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    width: fit-content;
    padding: 40px 60px;
    margin: 0 auto 30px auto;
}

.grid1_1_1 {
    padding: 50px;
    align-items: center;
    text-align: center;
    padding-top: -100px;
}

.grid1_1 {
    padding: 50px;
    align-items: center;
    text-align: center;
    padding-top: -100px;
}


.cta-button-pink {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  background-color: #dfaabe;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  margin-bottom: 80px;
}

.cta-button-pink:hover {
  background-color: #ae8192;
}

/* web-version */
@media (min-width: 800px) {
    .grid1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    }


    .tema3 {
    margin-top: 67px;
}

    .tema4 {
    margin-top: 35px;
}


    p {
    text-align: left;
}

    .tema {
    padding: 40px;
}
    .cta-button-pink {
    margin-bottom: -100px;
    
}

h1 {
    font-size: 28px;
    margin-bottom: -40px;
}

p, .cta-button-pink {
    font-size: 16px; 
}


}